.banner-inferior__titulo {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: var(--cor-branca)
}

.banner-inferior__lista {
	display: flex;
	flex-flow: row wrap;
	gap: 16px;
	justify-content: center;
}

.banner-inferior__lista__item {
	padding: 16px 24px;
	background-color: var(--cor-laranja);
}

.banner-inferior__lista__item:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (min-width: 1024px){
	.banner {
		padding: 2.5rem 4rem;
	}
	.banner-inferior__titulo{
		font-size: 24px;
		line-height: 36px;
	}

	.banner-inferior__link {
		font-size: 24px;
		line-height: 36px;
	}

}