.header {
	position: relative;
}

.cabecalho {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
.cabecalho__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.cabecalho__icon {
	width: 48px;
	height: 48px;
}

.menu-botao {
	display: none;
}

.menu-botao__label {
	padding: 0 1rem;
}


.menu-botao:checked~.cabecalho__menu{
	display: block;
}

.menu-botao:checked~.menu-botao__label {
	background: var(--cor-azul-degrade);
	background-clip: border-box;
}

.menu-botao:checked~.menu-botao__label > .cabecalho__menu-hamburguer {
	background-image: url("../img/Menu Aberto.svg")
}

.menu-botao__label:hover {
	cursor: pointer;
}

.cabecalho__menu-hamburguer {
	background-image: url("../img/Menu.svg");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}
.cabecalho__menu-hamburguer:hover {
	cursor: pointer;
}

.cabecalho__menu {
	position: absolute;
	top: 100%;
	width: 60vw;
	left: 0;
	display: none;
	background-color: var(--cor-branca);
	z-index: 10;
}

.cabecalho__menu__titulo {
	color: var(--cor-laranja);
	font-weight: 700;
}

.cabecalho__menu__titulo, .cabecalho__menu__item {
	padding: 16px 24px;
	font-size: 16px;
	line-height: 24px;
}

.cabecalho__menu__links {
	background: var(--cor-azul-degrade);;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	text-transform: uppercase;
}

.cabecalho__menu__links:hover {
	text-decoration: underline;
	text-decoration-color: #002F52;
}


.cabecalho__logo-texto b {
	font-weight: 700;
}

.menu-h {
	display: none;
}

@media screen and (min-width: 1024px){

	.cabecalho {
		padding: 18px 80px;
	}

	.cabecalho__logo-texto {
		display: none;
		font-family: var(--fonte-josefin);
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 30px;
	}

	.cabecalho__icon--favoritos {
		display: none;
	}

	.menu-botao__label {
		display: none;
	}
	
	.menu-h__label {
		display: block;

	}
	
	.cabecalho__logo-texto {
		display: inline;
	}

	.cabecalho__menu {
		width: auto;
		left: 40%;
	}

	.cabecalho__menu__titulo {
		display: none;
	}

	.menu-h {
		display: flex;
		gap: 32px;
		margin: 0 32px;
	}
	.menu-h__item {
		color: #000;
		text-transform: uppercase;
		cursor: pointer;
	}


}
@media screen and (max-width: 1728px){

}