@import url("header.css");
@import url("modifiers.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("cards.css");
@import url("banner-inferior.css");
@import url("novidades.css");

:root {
	--fonte-principal: 'Poppins', sans-serif;
	--fonte-josefin: 'Josefin Sans', sans-serif;
	--cor-branca: #FFFFFF;
	--cor-background-claro: #EBECEE;
	--cor-azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
	--cor-laranja: #EB9B00;
}

body {
	background-color: var(--cor-background-claro);
	font-family: var(--fonte-principal);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	min-width: 350px;
}

header {
	background-color: var(--cor-branca);
}

footer {
	border-top: solid 2px black;
	height: 3rem;
	padding: 1rem 1rem 3rem 1rem;
}

footer p {

}

/*MEDIAS*/
@media screen and (max-width: 428px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 1728px){

}